---
title: Projects
layout: page
---

<p>Here is a list of all the projects we have done</p>
{% for project in site.projects %}
<div class="mt-2">
    <a href="{{ project.url }}">
        <h2>{{ project.name }}</h2>
        <p>
        <img class="rounded"
            style="height: 3em;"
            align="right"
            {% if project.photo %}
                src="{{ project.photo }}"
            {% else %}
                src="/assets/images/default-project-photo.png"
            {% endif %}
            alt="Photo of {{ project.name }}">
        {% if project.description %}
            {{ project.description }}
        {% else %}
            {{ project.exerpt }}
        {% endif %}
        </p>
    </a>
</div>
{% endfor %}
